In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [3]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
submission = pd.read_csv('./data/sample_submission.csv')

In [4]:
# id					아이디					object
# base_date				날짜						int64
# day_of_week			요일						object
# base_hour				시간대					int64
# lane_count			차로수					int64
# road_rating			도로등급					object
# multi_linked			중용구간 여부				int64
# connect_code			연결로 코드				int64
# maximum_speed_limit	최고속도제한				float64
# weight_restricted		통과제한하중				float64
# height_restricted		통과제한높이				float64
# road_type				도로유형					float64
# start_latitude		시작지점의 위도			int64
# start_longitude		시작지점의 경도			object
# start_turn_restricted	시작 지점의 회전제한 유무	float64
# end_latitude			도착지점의 위도			float64
# end_longitude			도착지점의 경도			object
# end_turn_restricted	도작지점의 회전제한 유무	object
# road_name				도로명					float64
# start_node_name		시작지점명				float64
# end_node_name			도착지점명				object
# vehicle_restricted	통과제한차량				float64
# target				평균속도(km)				object(7)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4701217 entries, 0 to 4701216
Data columns (total 23 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     object
 1   base_date              int64
 2   day_of_week            object
 3   base_hour              int64
 4   lane_count             int64
 5   road_rating            int64
 6   road_name              object
 7   multi_linked           int64
 8   connect_code           int64
 9   maximum_speed_limit    float64
 10  vehicle_restricted     float64
 11  weight_restricted      float64
 12  height_restricted      float64
 13  road_type              int64
 14  start_node_name        object
 15  start_latitude         float64
 16  start_longitude        float64
 17  start_turn_restricted  object
 18  end_node_name          object
 19  end_latitude           float64
 20  end_longitude          float64
 21  end_turn_restricted    object
 22  target                 float64
dtypes: float64(9), int64(7), object(7)
memory usage: 825.0+ MB

In [6]:
train.head()

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,목,17,1,106,지방도1112호선,0,0,60.0,...,3,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0
1,TRAIN_0000001,20220728,목,21,2,103,일반국도11호선,0,0,60.0,...,0,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0
2,TRAIN_0000002,20211010,일,7,2,103,일반국도16호선,0,0,80.0,...,0,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0
3,TRAIN_0000003,20220311,금,13,2,107,태평로,0,0,50.0,...,0,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0
4,TRAIN_0000004,20211005,화,8,2,103,일반국도12호선,0,0,80.0,...,0,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0

In [7]:
train.isnull().sum()

id                       0
base_date                0
day_of_week              0
base_hour                0
lane_count               0
road_rating              0
road_name                0
multi_linked             0
connect_code             0
maximum_speed_limit      0
vehicle_restricted       0
weight_restricted        0
height_restricted        0
road_type                0
start_node_name          0
start_latitude           0
start_longitude          0
start_turn_restricted    0
end_node_name            0
end_latitude             0
end_longitude            0
end_turn_restricted      0
target                   0
dtype: int64

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291241 entries, 0 to 291240
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     291241 non-null  object
 1   base_date              291241 non-null  int64
 2   day_of_week            291241 non-null  object
 3   base_hour              291241 non-null  int64
 4   lane_count             291241 non-null  int64
 5   road_rating            291241 non-null  int64
 6   road_name              291241 non-null  object
 7   multi_linked           291241 non-null  int64
 8   connect_code           291241 non-null  int64
 9   maximum_speed_limit    291241 non-null  float64
 10  vehicle_restricted     291241 non-null  float64
 11  weight_restricted      291241 non-null  float64
 12  height_restricted      291241 non-null  float64
 13  road_type              291241 non-null  int64
 14  start_node_name        291241 non-null  object
 15  start_latitude         291241 non-null  float64
 16  start_longitude        291241 non-null  float64
 17  start_turn_restricted  291241 non-null  object
 18  end_node_name          291241 non-null  object
 19  end_latitude           291241 non-null  float64
 20  end_longitude          291241 non-null  float64
 21  end_turn_restricted    291241 non-null  object
dtypes: float64(8), int64(7), object(7)
memory usage: 48.9+ MB

In [9]:
test.head()

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,height_restricted,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted
0,TEST_000000,20220825,목,17,3,107,연삼로,0,0,70.0,...,0.0,0,산지2교,33.499427,126.541298,없음,제주은행사거리,33.500772,126.543837,있음
1,TEST_000001,20220809,화,12,2,103,일반국도12호선,0,0,70.0,...,0.0,3,중문입구,33.258507,126.427003,없음,관광단지입구,33.258119,126.415840,없음
2,TEST_000002,20220805,금,2,1,103,일반국도16호선,0,0,60.0,...,0.0,0,도순3교,33.258960,126.476508,없음,도순2교,33.259206,126.474687,없음
3,TEST_000003,20220818,목,23,3,103,일반국도11호선,0,0,70.0,...,0.0,0,아라주공아파트,33.473494,126.545647,없음,인다마을,33.471061,126.545467,없음
4,TEST_000004,20220810,수,17,3,106,번영로,0,0,70.0,...,0.0,0,부록교 시종점,33.501477,126.569223,없음,봉개교 시종점,33.496863,126.581230,없음

In [10]:
test.isnull().sum()

id                       0
base_date                0
day_of_week              0
base_hour                0
lane_count               0
road_rating              0
road_name                0
multi_linked             0
connect_code             0
maximum_speed_limit      0
vehicle_restricted       0
weight_restricted        0
height_restricted        0
road_type                0
start_node_name          0
start_latitude           0
start_longitude          0
start_turn_restricted    0
end_node_name            0
end_latitude             0
end_longitude            0
end_turn_restricted      0
dtype: int64

In [11]:
print(train['base_date'].unique().min())
print(train['base_date'].unique().max())
print('--------------------------------')
print(test['base_date'].unique().min())
print(test['base_date'].unique().max())

20210901
20220731
--------------------------------
20220801
20220831

train : 2021-09-01 ~ 2022-07-31
test : 2022-08-01 ~ 2022-08-31

In [12]:
train['day_of_week'].value_counts()

금    684024
수    675583
목    674070
일    673632
토    669767
화    662498
월    661643
Name: day_of_week, dtype: int64

In [14]:
encoder = LabelEncoder()
encoder.fit(train['day_of_week'])
train['day_of_week'] = encoder.transform(train['day_of_week'])

In [15]:
train['day_of_week'].value_counts()

0    684024
2    675583
1    674070
4    673632
5    669767
6    662498
3    661643
Name: day_of_week, dtype: int64

In [24]:
# 103 : 일반 국도, 106 : 지방도, 107 : 시군도
train['road_rating'].value_counts()

103    2159511
107    1582214
106     959492
Name: road_rating, dtype: int64