In [66]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [67]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
submission = pd.read_csv('./data/sample_submission.csv')

In [68]:
# id					아이디					object
# base_date				날짜						int64
# day_of_week			요일						object
# base_hour				시간대					int64
# lane_count			차로수					int64
# road_rating			도로등급					object
# multi_linked			중용구간 여부				int64
# connect_code			연결로 코드				int64
# maximum_speed_limit	최고속도제한				float64
# weight_restricted		통과제한하중				float64
# height_restricted		통과제한높이				float64
# road_type				도로유형					float64
# start_latitude		시작지점의 위도			int64
# start_longitude		시작지점의 경도			object
# start_turn_restricted	시작 지점의 회전제한 유무	float64
# end_latitude			도착지점의 위도			float64
# end_longitude			도착지점의 경도			object
# end_turn_restricted	도작지점의 회전제한 유무	object
# road_name				도로명					float64
# start_node_name		시작지점명				float64
# end_node_name			도착지점명				object
# vehicle_restricted	통과제한차량				float64
# target				평균속도(km)				object(7)

In [69]:
train.describe()

,base_date,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,vehicle_restricted,weight_restricted,height_restricted,road_type,start_latitude,start_longitude,end_latitude,end_longitude,target
count,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4701217.0,4.701217e+06,4701217.0,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06
mean,2.021672e+07,1.192820e+01,1.836651e+00,1.049585e+02,4.762597e-04,2.660218e-01,6.125329e+01,0.0,5.618742e+03,0.0,6.152237e-01,3.338432e+01,1.265217e+02,3.338432e+01,1.265217e+02,4.278844e+01
std,4.555709e+03,6.722092e+00,6.877513e-01,1.840107e+00,2.181818e-02,5.227760e+00,1.213354e+01,0.0,1.395343e+04,0.0,1.211268e+00,1.012015e-01,1.563657e-01,1.011948e-01,1.563519e-01,1.595443e+01
min,2.021090e+07,0.000000e+00,1.000000e+00,1.030000e+02,0.000000e+00,0.000000e+00,3.000000e+01,0.0,0.000000e+00,0.0,0.000000e+00,3.324343e+01,1.261826e+02,3.324343e+01,1.261826e+02,1.000000e+00
25%,2.021110e+07,6.000000e+00,1.000000e+00,1.030000e+02,0.000000e+00,0.000000e+00,5.000000e+01,0.0,0.000000e+00,0.0,0.000000e+00,3.326422e+01,1.264232e+02,3.326422e+01,1.264232e+02,3.000000e+01
50%,2.022013e+07,1.200000e+01,2.000000e+00,1.060000e+02,0.000000e+00,0.000000e+00,6.000000e+01,0.0,0.000000e+00,0.0,0.000000e+00,3.341257e+01,1.265112e+02,3.341257e+01,1.265112e+02,4.300000e+01
75%,2.022050e+07,1.800000e+01,2.000000e+00,1.070000e+02,0.000000e+00,0.000000e+00,7.000000e+01,0.0,0.000000e+00,0.0,0.000000e+00,3.347804e+01,1.265840e+02,3.347804e+01,1.265840e+02,5.400000e+01
max,2.022073e+07,2.300000e+01,3.000000e+00,1.070000e+02,1.000000e+00,1.030000e+02,8.000000e+01,0.0,5.000000e+04,0.0,3.000000e+00,3.355608e+01,1.269309e+02,3.355608e+01,1.269309e+02,1.130000e+02

In [70]:
data = train.describe().transpose()
data[data['std']==0].index

Index(['vehicle_restricted', 'height_restricted'], dtype='object')

In [71]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4701217 entries, 0 to 4701216
Data columns (total 23 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     object
 1   base_date              int64
 2   day_of_week            object
 3   base_hour              int64
 4   lane_count             int64
 5   road_rating            int64
 6   road_name              object
 7   multi_linked           int64
 8   connect_code           int64
 9   maximum_speed_limit    float64
 10  vehicle_restricted     float64
 11  weight_restricted      float64
 12  height_restricted      float64
 13  road_type              int64
 14  start_node_name        object
 15  start_latitude         float64
 16  start_longitude        float64
 17  start_turn_restricted  object
 18  end_node_name          object
 19  end_latitude           float64
 20  end_longitude          float64
 21  end_turn_restricted    object
 22  target                 float64
dtypes: float64(9), int64(7), object(7)
memory usage: 825.0+ MB

In [72]:
train.head()

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,목,17,1,106,지방도1112호선,0,0,60.0,...,3,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0
1,TRAIN_0000001,20220728,목,21,2,103,일반국도11호선,0,0,60.0,...,0,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0
2,TRAIN_0000002,20211010,일,7,2,103,일반국도16호선,0,0,80.0,...,0,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0
3,TRAIN_0000003,20220311,금,13,2,107,태평로,0,0,50.0,...,0,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0
4,TRAIN_0000004,20211005,화,8,2,103,일반국도12호선,0,0,80.0,...,0,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0

In [73]:
train.isnull().sum()

id                       0
base_date                0
day_of_week              0
base_hour                0
lane_count               0
road_rating              0
road_name                0
multi_linked             0
connect_code             0
maximum_speed_limit      0
vehicle_restricted       0
weight_restricted        0
height_restricted        0
road_type                0
start_node_name          0
start_latitude           0
start_longitude          0
start_turn_restricted    0
end_node_name            0
end_latitude             0
end_longitude            0
end_turn_restricted      0
target                   0
dtype: int64

In [74]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291241 entries, 0 to 291240
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     291241 non-null  object
 1   base_date              291241 non-null  int64
 2   day_of_week            291241 non-null  object
 3   base_hour              291241 non-null  int64
 4   lane_count             291241 non-null  int64
 5   road_rating            291241 non-null  int64
 6   road_name              291241 non-null  object
 7   multi_linked           291241 non-null  int64
 8   connect_code           291241 non-null  int64
 9   maximum_speed_limit    291241 non-null  float64
 10  vehicle_restricted     291241 non-null  float64
 11  weight_restricted      291241 non-null  float64
 12  height_restricted      291241 non-null  float64
 13  road_type              291241 non-null  int64
 14  start_node_name        291241 non-null  object
 15  start_latitude         291241 non-null  float64
 16  start_longitude        291241 non-null  float64
 17  start_turn_restricted  291241 non-null  object
 18  end_node_name          291241 non-null  object
 19  end_latitude           291241 non-null  float64
 20  end_longitude          291241 non-null  float64
 21  end_turn_restricted    291241 non-null  object
dtypes: float64(8), int64(7), object(7)
memory usage: 48.9+ MB

In [75]:
test.head()

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,height_restricted,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted
0,TEST_000000,20220825,목,17,3,107,연삼로,0,0,70.0,...,0.0,0,산지2교,33.499427,126.541298,없음,제주은행사거리,33.500772,126.543837,있음
1,TEST_000001,20220809,화,12,2,103,일반국도12호선,0,0,70.0,...,0.0,3,중문입구,33.258507,126.427003,없음,관광단지입구,33.258119,126.415840,없음
2,TEST_000002,20220805,금,2,1,103,일반국도16호선,0,0,60.0,...,0.0,0,도순3교,33.258960,126.476508,없음,도순2교,33.259206,126.474687,없음
3,TEST_000003,20220818,목,23,3,103,일반국도11호선,0,0,70.0,...,0.0,0,아라주공아파트,33.473494,126.545647,없음,인다마을,33.471061,126.545467,없음
4,TEST_000004,20220810,수,17,3,106,번영로,0,0,70.0,...,0.0,0,부록교 시종점,33.501477,126.569223,없음,봉개교 시종점,33.496863,126.581230,없음

In [76]:
test.isnull().sum()

id                       0
base_date                0
day_of_week              0
base_hour                0
lane_count               0
road_rating              0
road_name                0
multi_linked             0
connect_code             0
maximum_speed_limit      0
vehicle_restricted       0
weight_restricted        0
height_restricted        0
road_type                0
start_node_name          0
start_latitude           0
start_longitude          0
start_turn_restricted    0
end_node_name            0
end_latitude             0
end_longitude            0
end_turn_restricted      0
dtype: int64

In [77]:
print(train['base_date'].unique().min())
print(train['base_date'].unique().max())
print('--------------------------------')
print(test['base_date'].unique().min())
print(test['base_date'].unique().max())

20210901
20220731
--------------------------------
20220801
20220831

train : 2021-09-01 ~ 2022-07-31
test : 2022-08-01 ~ 2022-08-31

In [78]:
train['day_of_week'].value_counts()

금    684024
수    675583
목    674070
일    673632
토    669767
화    662498
월    661643
Name: day_of_week, dtype: int64

In [79]:
encoder = LabelEncoder()
encoder.fit(train['day_of_week'])
train['day_of_week'] = encoder.transform(train['day_of_week'])

In [80]:
train['day_of_week'].value_counts()

0    684024
2    675583
1    674070
4    673632
5    669767
6    662498
3    661643
Name: day_of_week, dtype: int64

In [81]:
# 103 : 일반 국도, 106 : 지방도, 107 : 시군도
train['road_rating'].value_counts()

103    2159511
107    1582214
106     959492
Name: road_rating, dtype: int64

In [82]:
train['road_name'].value_counts()

일반국도12호선    1046092
-            569463
일반국도16호선     554510
일반국도95호선     248181
일반국도11호선     215701
             ...
애원로            7718
아봉로            7342
남조로            6813
호서중앙로          2819
호근로             587
Name: road_name, Length: 61, dtype: int64

In [83]:
# 0,1  1은 전부 남조로에 해당
train['multi_linked'].value_counts()

0    4698978
1       2239
Name: multi_linked, dtype: int64

In [84]:
train.loc[train['multi_linked'] == 1, 'road_name'].value_counts()

남조로    2239
Name: road_name, dtype: int64

In [85]:
train['connect_code'].value_counts()

0      4689075
103      12142
Name: connect_code, dtype: int64

In [86]:
train['maximum_speed_limit'].value_counts()

60.0    1665573
50.0    1103682
70.0     995077
80.0     700334
30.0     229761
40.0       6790
Name: maximum_speed_limit, dtype: int64

In [87]:
train['weight_restricted'].value_counts()

0.0        4032874
43200.0     410361
32400.0     239305
50000.0      18677
Name: weight_restricted, dtype: int64

In [88]:
# height_restricted 은 필요 x 
train['height_restricted'].value_counts()

0.0    4701217
Name: height_restricted, dtype: int64

In [89]:
train['road_type'].value_counts()

0    3737117
3     964100
Name: road_type, dtype: int64

In [90]:
train['start_turn_restricted'].value_counts()

없음    4239701
있음     461516
Name: start_turn_restricted, dtype: int64

In [91]:
train['end_turn_restricted'].value_counts()

없음    4239599
있음     461618
Name: end_turn_restricted, dtype: int64

In [92]:
train['start_node_name'].value_counts()

고성교차로              42169
산신주유소              29386
미수2교               26635
영주교                24381
봉개교 시종점            24290
                   ...
외산리사무소               934
와산리                  881
성미가든                 788
CU서귀호근로점             744
서귀포시 호근동 1838-4      744
Name: start_node_name, Length: 487, dtype: int64

In [93]:
# vehicle_restricted 은 필요x
train['vehicle_restricted'].value_counts()

0.0    4701217
Name: vehicle_restricted, dtype: int64

In [94]:
train['target'].value_counts()

48.0     112044
49.0     110244
50.0     108822
54.0     108040
51.0     107347
          ...
113.0         2
96.0          2
112.0         2
98.0          1
103.0         1
Name: target, Length: 102, dtype: int64

In [95]:
train

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,1,17,1,106,지방도1112호선,0,0,60.0,...,3,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0
1,TRAIN_0000001,20220728,1,21,2,103,일반국도11호선,0,0,60.0,...,0,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0
2,TRAIN_0000002,20211010,4,7,2,103,일반국도16호선,0,0,80.0,...,0,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0
3,TRAIN_0000003,20220311,0,13,2,107,태평로,0,0,50.0,...,0,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0
4,TRAIN_0000004,20211005,6,8,2,103,일반국도12호선,0,0,80.0,...,0,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,TRAIN_4701212,20211104,1,16,1,107,-,0,0,50.0,...,0,대림사거리,33.422145,126.278125,없음,금덕해운,33.420955,126.273750,없음,20.0
4701213,TRAIN_4701213,20220331,1,2,2,107,-,0,0,80.0,...,3,광삼교,33.472505,126.424368,없음,광삼교,33.472525,126.424890,없음,65.0
4701214,TRAIN_4701214,20220613,3,22,2,103,일반국도12호선,0,0,60.0,...,0,고성교차로,33.447183,126.912579,없음,성산교차로,33.444121,126.912948,없음,30.0
4701215,TRAIN_4701215,20211020,2,2,2,103,일반국도95호선,0,0,80.0,...,0,제6광령교,33.443596,126.431817,없음,관광대학입구,33.444996,126.433332,없음,73.0
4701216,TRAIN_4701216,20211019,6,6,2,107,경찰로,0,0,60.0,...,0,서귀포경찰서,33.256785,126.508940,없음,시민공원,33.257130,126.510364,없음,35.0

In [96]:
import requests
from bs4 import BeautifulSoup
# 한국천문연구원_특일 정보 ( https://www.data.go.kr/iim/api/selectAPIAcountView.do )
url = 'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo'

def day_week(year):
    weekday = []
    for i in year:
        params = {'serviceKey':'서비스키', 'solYear': i} 
        response = requests.get(url, params=params)
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find_all('locdate')
        [weekday.append(i.text) for i in table]
    return weekday

In [97]:
year = ['2021', '2022']
weekday = day_week(year)

In [98]:
weekday

[]

In [99]:
# 주말과 공휴일은 1 아니면 0 처리  
# day_of_week ( 주말 ) 4, 5

train['weekday'] = [1 if (str(i) in weekday) or j == 4 or j == 5 else 0 for i, j in zip(train['base_date'], train['day_of_week'])]

In [100]:
train['len_latitude'] = train['start_latitude'] - train['end_latitude']
train['len_longitude'] = train['start_longitude'] - train['end_longitude']

In [101]:
# y_train = train['target']
# X_train = train.drop(['id', 'height_restricted', 'vehicle_restricted', 'target'], axis=1)
# X_test = test.drop(['id', 'height_restricted', 'vehicle_restricted'], axis=1)

In [102]:
# print(X_train.shape)
# print(y_train.shape)
# print(X_test.shape)

In [103]:
year = [ '2003']
weekday = day_week(year)

In [104]:
weekday

[]